@use "../../../helpers/mixins" as m;
@use "../../../helpers/variables" as v;

@mixin text-loan() {
  font-family: v.$funnel;
  font-size: 2.5rem;
  overflow-x: auto;
  color: v.$main-orange;

  span {
    color: v.$main-dark;
  }
}

@mixin showItems($icon: false) {
  .header {
    @include m.flex($justify: space-between);

    &-title {
      @include text-loan();
    }

    &-new-item {
      @include m.flex();
      gap: 0.4em;
      padding: 0.65rem 1.1rem;
      border-radius: 0.4rem;
      color: #fff;
      background-color: v.$main-dark;
      transition: all 0.4s ease-in;
      cursor: pointer;

      .material-symbols-rounded {
        font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
        font-size: 20px;
      }

      .text {
        font-size: 0.9rem;
      }

      &:hover {
        transition: all 0.4s ease-out;
        background-color: v.$main-orange;
      }
    }
  }

  .content {
    margin-top: 1.7rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 1.4rem;

    &-item {
      @include m.flex($direction: column, $justify: flex-start);
      border-radius: 0.4rem;
      border: 3px solid v.$main-dark;
      height: fit-content;

      &-image {
        height: 100%;
        max-height: 12rem;
        min-height: 10rem;
        object-fit: cover;

        @if $icon {
          width: auto;
          padding: 1.6rem;
        } @else {
          width: 100%;
        }
      }

      &-core {
        width: 100%;
        background-color: v.$main-dark;
        color: #fff;
        padding: 1.2rem;

        .name {
          font-size: 1.15rem;
          font-weight: 600;
        }

        .price {
          margin-top: 0.7rem;
        }

        .location {
          margin-top: 0.2rem;
          font-size: 0.88rem;
        }
        
        .stock {
          margin-top: 0.25rem;
          font-size: 0.93rem;

          span {
            font-weight: 600;
          }
        }

        .category {
          margin-top: 0.25rem;
          font-size: 0.93rem;
        }

        .core-action {
          margin-top: 2.3rem;
          @include m.flex($justify: flex-end);
          gap: 0.3rem;

          .material-symbols-rounded {
            @include m.flex();
            font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
            font-size: 22px;
            padding: 0.3rem 0.5rem;
            border-radius: 0.3rem;
            color: #fff;
            background-color: v.$main-orange;
            transition: all 0.4s ease-in;
            cursor: pointer;

            &:hover {
              transition: all 0.4s ease-out;
              background-color: #fff;
              color: v.$main-orange;
            }
          }
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    .header {
      @include m.flex($direction: column, $align: flex-start);
      gap: 0.8rem;
    }
  }
}
