@use "./variables" as v;

@mixin flex(
  $align: center,
  $justify: center,
  $direction: row,
  $start: false,
  $end: false
) {
  display: flex;
  flex-direction: $direction;

  @if $start {
    align-items: flex-start;
    justify-content: flex-start;
  } @else if $end {
    align-items: flex-end;
    justify-content: flex-end;
  } @else {
    align-items: $align;
    justify-content: $justify;
  }
}

@mixin circle($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
}

@mixin section-default(
  $bg,
  $color-title,
  $bg-button,
  $color-button,
  $border-button,
  $bg-button-hover,
  $color-button-hover,
  $border-button-hover
) {
  width: 100%;
  height: auto;
  min-height: 60vh;
  background-color: $bg;
  padding: v.$main-py v.$main-px;
  @include flex($direction: column, $justify: flex-start);
  gap: 2rem;

  &-title {
    color: $color-title;
    font-size: 2.3rem;
    font-family: v.$funnel;
    font-weight: 300;
    text-transform: capitalize;

    span {
      font-weight: 700;
    }
  }

  &-more {
    margin-top: 1.1rem;
    padding: 0.6rem 3.4rem;
    border-radius: 0.4rem;
    border: $border-button solid 1.5px;
    font-family: v.$funnel;
    color: $color-button;
    background-color: $bg-button;
    cursor: pointer;
    transition: all 0.4s ease-in;
    text-align: center;

    &:hover {
      background-color: $bg-button-hover;
      color: $color-button-hover;
      border-color: $border-button-hover;
      transition: all 0.4s ease-out;
    }
  }
}
