@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Comfortaa:wght@300..700&family=Funnel+Display:wght@300..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

// <----- Fonts -----> //
$lato: "Lato", serif;
$cherry: "Cherry Bomb One", system-ui;
$comfortaa: "Comfortaa", sans-serif;
$funnel: "Funnel Display", sans-serif;

// <----- Colors -----> //
$main-dark: #2e2d31;
$main-light: #e5e2de;
$main-orange: #f3734c;
$main-grey: #b5aeb4;
$auth-color: #fff1e8;

// <----- Padding -----> //
$main-px: 4.9rem;
$main-py: 3.8rem;

// <----- Width -----> //
$main-width: 64vw;
